<div class="box_left ">
  <%= render "books/list_menu" %>
</div>

<div class="box_center">
  <%= link_to "Lista ksiażek", books_path %><br/>
  <h>Search:</h>
  <div id="v">
    <%= form_for Book.new, :url => "search" do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= text_field_tag :title, params[:title], class: "form-control" %>
          <%= f.submit "Szukaj", class: "btn btn-default" %>
        </div>
    <%- end %>
  </div>

  </div>
<div class="box_right">
  <%= render "books/show_last_books" %>
</div>