<%= form_for(@opinion) do |f| %>
  <% if @opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% @opinion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_book %><br />
    <%= f.number_field :id_book %>
  </div>
  <div class="field">
    <%= f.label :id_user %><br />
    <%= f.number_field :id_user %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
