<h1>Listing opinions</h1>

<table>
  <tr>
    <th>Id book</th>
    <th>Id user</th>
    <th>Text</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @opinions.each do |opinion| %>
  <tr>
    <td><%= opinion.id_book %></td>
    <td><%= opinion.id_user %></td>
    <td><%= opinion.text %></td>
    <td><%= opinion.number %></td>
    <td><%= link_to 'Show', opinion %></td>
    <td><%= link_to 'Edit', edit_opinion_path(opinion) %></td>
    <td><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opinion', new_opinion_path %>
