<% @lista = ["Kryminał","Przygodowe","Fantastyka","Naukowe","Powieść","Dramat","Thriller","Horror",
             "Biografie","Biznes, ekonomia, marketing","Dla dzieci","Dla młodzieży","Encyklopedie, leksykony",
             "Filozofia","Historia","Informatyka","Językoznawstwo, język polski","Kuchnia i diety","Literatura",
             "Prawo","Poradniki"] %>
<div id="ankieta">
  <h1>Edytuj dane</h1>

  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control'%>
      </div>
      <div class="field">
        <%= f.label :surname %><br />
        <%= f.text_field :surname, class: 'form-control'%>
      </div>
      <div class="field">
        <%= f.label :mail %><br />
        <%= f.text_field :mail, class: 'form-control'%>
      </div>

      <div class="field">   <!--modified by pk 21.04.2015-->
        <%= f.label :"Hasło: " %><br />
        <%= f.password_field :password, class: 'form-control'%>
      </div>
      <div class="field">
        <%= f.label :"Powtórz hasło: " %><br />
        <%= f.password_field :password_confirmation, class: 'form-control'%>
      </div>

      <div class="field">
        <% @lista.each do |a| %>
            <%= check_box_tag("genre[]", a) %> <%= f.label a %><br/>
         <%end%>
      </div>
      <div class="actions">
        <%= f.submit "zapisz Dane", class: "btn btn-primary form-control"%>
      </div>
  <% end %>

  <%= link_to 'Back', @user %>
</div>




