<% @lista = ["Kryminał","Przygodowe","Fantastyka","Naukowe","Powieść","Dramat","Thriller","Horror",
             "Biografie","Biznes, ekonomia, marketing","Dla dzieci","Dla młodzieży","Encyklopedie, leksykony",
             "Filozofia","Historia","Informatyka","Językoznawstwo, język polski","Kuchnia i diety","Literatura",
             "Prawo","Poradniki"] %>
<div id="ankieta">
<h1>Rejestracja</h1>

  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :Imię %><br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :Nazwisko %><br />
        <%= f.text_field :surname, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :Mail %><br />
        <%= f.text_field :mail, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :"Hasło: " %><br />
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="field">       <!--modified by pk 20.04.2015-->
        <%= f.label :"Powtórz hasło: " %><br />
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="field">
        Proszę o zaznaczenie ulubionych gatunków książek <br/> (można zostawić puste)<br/>
        <% @lista.each do |a| %>
            <%= check_box_tag("genre[]", a) %> <%= f.label a %><br/>
        <%end%>
      </div>
      <div class="actions">
        <%= f.submit "Zapisz dane", class: "btn btn-primary form-control" %>
      </div>
  <% end %>
<%= link_to 'Back', users_path %>
</div>




