<p id="notice"><%= notice %></p>
<div id="body_user">
  <div id="dane">
    <p>
      <%= gravatar_for @user %>
      <b>Imie i Nazwisko</b>
    <h4> <%= @user.name %> <%= @user.surname %> </h4>
    </p>
    <p>
      <b>Mail:</b>
    <h4><%= @user.mail %></h4>
    </p>
  </div>
  <div id="menu_user">
    <ul class="nav nav-stacked">
      <li role="presentation"> <%= link_to 'Edytuj dane', edit_user_path(@user) %> </li>
      <li role="presentation"> <%= link_to 'Dodaj ksiażke', new_book_path %> </li>
    </ul>
  </div>
  <% if @user.account_type == "admin" %>
      <div id="menu_user">
        <ul class="nav nav-stacked">
          <li role="presentation"> <%= link_to 'Lista użytkowników', users_url %> </li>
          <li role="presentation"> <%= link_to 'Lista książek', books_path %></li>
        </ul>
      </div>
  <% end %>
  <div style="clear: both;">  </div>
  <div>
    <ul class="tabs nav nav-tabs">
      <li role="presentation"><a href="#tab-1">Dodane książki</a></li>
      <li role="presentation"><a href="#tab-2">Sugerowane książki</a></li>
      <% if @user.account_type == "admin" %>
      <li role="presentation"><a href="#tab-3">aktualnosci</a></li>
      <% end %>
    </ul>
  </div>
  <div id="tab-1" class="tab">
    <%= render "books/show_user_books" %>
  </div>
  <div id="tab-2" class="tab">
    <%= render "books/proposals_books" %>
  </div>
  <% if @user.account_type == "admin" %>
  <div id="tab-3" class="tab">
    <%= render "users/show_admin_panel" %>
  </div>
  <% end %>
</div>

