<div id="ankieta">
  <% @user = User.find(params[:id_u])%>
  <div class="pasek">
    <div>Dane użytkownika</div>
    <p>
      <b>Imie i Nazwisko</b>
    <h4> <%= @user.name %> <%= @user.surname %> </h4>
    </p>
    <p>
      <b>Mail:</b>
    <h4><%= @user.mail %></h4>
    </p>

    <p>
      <b>Uprawnienia</b>
      <h4><%=@user.account_type %> </h4>
    </p>
  </div>
  <%= form_for @user, :url =>{:action => "update_user_info"} do |f| %>
  <div class="pasek"><b> Zmień uprawnienia: </b> <br/>
      <div class="field">
        <%= radio_button_tag 'theme', 'user' %> Użytkownik <br />
        <%= radio_button_tag 'theme', 'admin', true %> Administrator <br/>
        <% session[:temp] = params[:id_u] %>
      </div>
        <%= f.submit "zapisz zmiany" %>
      <div class="actions przycisk">
      </div>

  </div>
  <% end %>
  <div class="pasek">
    <div>aktywność użtykownika:</div>
    Dodane książki przez użytkownika:<b> <%= Book.find_all_by_user_id(params[:id_u]).count %> </b> <br/>
    Dodane komentarze przez użytkownika:<b> <%= Micropost.find_all_by_user_id(params[:id_u]).count%> </b>
  </div>
  <%= link_to 'Powrót', users_path %>

</div>