<div id="ankieta">
<h1>Edytuj książkę</h1>

<%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :publishing %><br />
      <%= f.text_field :publishing %>
    </div>
    <div class="field">
      <%= f.label :gatunek %><br/>
      <%= f.select(:genre, options_for_select([["Kryminał", "Kryminał"], ["Przygodowe", "Przygodowe"],
                                               ["Fantastyka", "Fantastyka"], ["Naukowe", "Naukowe"],
                                               ["Powieść", "Powieść"],  ["Dramat", "Dramat"], ["Thriller", "Thriller"],
                                               ["Horror", "Horror"], ["Biografie", "Biografie"],
                                               ["Biznes, ekonomia, marketing", "Biznes, ekonomia, marketing"],
                                               ["Dla dzieci", "Dla dzieci"], ["Dla młodzieży", "Dla młodzieży"],
                                               ["Encyklopedie, leksykony", "Encyklopedie, leksykony"],
                                               ["Filozofia", "Filozofia"], ["Historia", "Historia"],
                                               ["Informatyka", "Informatyka"],
                                               ["Językoznawstwo, język polski", "Językoznawstwo, język polski"],
                                               ["Kuchnia i diety", "Kuchnia i diety"], ["Literatura", "Literatura"],
                                               ["Prawo", "Prawo"], ["Poradniki", "Poradniki"]])) %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :cols => 65, :rows => 10 %>
    </div>
    <div class="actions">
      <%= f.submit "zapisz dane", class: "btn btn-primary form-control" %>
    </div>
<% end %>

<%= link_to 'Szczegóły', @book %> |
<%= link_to 'Powrót', user_path(session[:user_id]) %>
</div>