<p id="notice"><%= notice %></p>

<p>
  <b>Id book:</b>
  <%= @book.id_book %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Autor:</b>
  <%= @book.autor %>
</p>

<p>
  <b>Id publishing house:</b>
  <%= @book.id_publishing_house %>
</p>

<p>
  <b>Image:</b>
  <%= @book.image %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>String:</b>
  <%= @book.string %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
