<div class="box_left ">
  <%= render "books/list_menu" %>
</div>
<div class="box_center">
<% @books = Book.all %>
<div>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Tytuł</th>
      <th>Autor</th>
      <th>Wydawnictwo</th>
      <th></th>
    </tr>
    <% @books.each do |b| %>
    <tr>
        <td><%= image_tag(b.picture_file_name, class: "zdjecie_mini") %></td>
        <td><b><%= b.title %> </b></td>
        <td><b><%= b.author %></b></td>
        <td><b><%= b.publishing %></td>
        <td><%= link_to "szczegóły", book_path(b.id)%></td>
    </tr>
    <% end %>
    </table>
</div>

</div>

<div class="box_right">
  <%= render "books/show_last_books" %>
</div>