<p id="notice"><%= notice %></p>

<p>
  <b>Adres:</b>
  <%= @parking.adres %>
</p>

<p>
  <b>Pojemnosc:</b>
  <%= @parking.pojemnosc %>
</p>


<%= link_to 'Edit', edit_parking_path(@parking) %> |
<%= link_to 'Back', parkings_path %>
