<%= form_for(@publishing_house) do |f| %>
  <% if @publishing_house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publishing_house.errors.count, "error") %> prohibited this publishing_house from being saved:</h2>

      <ul>
      <% @publishing_house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_book %><br />
    <%= f.number_field :id_book %>
  </div>
  <div class="field">
    <%= f.label :name_publishing %><br />
    <%= f.text_field :name_publishing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
