<p id="notice"><%= notice %></p>

<p>
  <b>Id book:</b>
  <%= @publishing_house.id_book %>
</p>

<p>
  <b>Name publishing:</b>
  <%= @publishing_house.name_publishing %>
</p>


<%= link_to 'Edit', edit_publishing_house_path(@publishing_house) %> |
<%= link_to 'Back', publishing_houses_path %>
